html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #DBEAFE 0%, #CDE3FE 33%, #BBD9FD 66%, #60A5FA 100%);
}
