
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Inter', sans-serif;
    background: linear-gradient(to right, #0a0f2c, #142850, #27496d, #3b8beb);
}

h1 {
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(#48bef9, #0c3178);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Main Container */
/* Holds sidebar and content box */
.main-container {
    display: flex;
    max-height: 100vh;
    padding: 60px 74px;
    box-sizing: border-box;
    overflow: auto;
}

.panels{
    display: flex;                
    border-radius: 18px;           
    overflow: hidden;    
    box-shadow:
    0   -6px  8px rgba(0, 128, 255, 0.8),
    /* bottom */
    0    6px  8px rgba(0, 128, 255, 0.8),
    /* left */
   -6px  0    8px rgba(0, 128, 255, 0.8),
    /* right */
    6px  0    8px rgba(0, 128, 255, 0.8);
}

/* Sidebar */
.sidebar {
    flex-direction: column;
    display: flex;
    width: 269px;
    border: 1px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 20px; 
    background: linear-gradient(to bottom, #e0f2fe, #dbeafe);
    border-right: 1px solid #ccc;
}


.blog-sidebar {
    flex-direction: column;
    display: flex;
    width: 269px;
    border: 1px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 20px; 
    background: linear-gradient(to bottom, #e0f2fe, #dbeafe);
    border-right: 1px solid #ccc;
    overflow-y: scroll;
}

.no-underline-link {
    text-decoration: none;
}

.profile a h3{
    font-size: 24px;
    background: -webkit-linear-gradient(#48bef9, #0c3178);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 6px;
}

.profile h3:hover{
    color:#4192f5;
}

.profile p{
    font-size: 12px;
    color: #475569;
    text-align: center;
    margin-top: 0px;
}

.profile p:hover{
    color: lightblue;
}
.profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    display: block;
    padding: 14px 0;
    color: #1e293b;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px 0;
    transition: background 0.3s;
    font-style: normal;
    text-align: center;
}
nav a:hover,
nav a.active {
    background-color: #e0f2fe;
    color: #3b82f6;
    font-style: normal;
} 

.socials {
    display: flex;
    margin-top: auto;    
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 0.0rem;
}
  
.socials img {
    width: 20px;
    height: 20px;
} /*End of sidebar content styling*/

/* Main Content Box */
.content-box{
    width: 1100px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: linear-gradient(to bottom, #F0F9FF, #9ed8fe);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 600px;
}

/* hero icon */
.hero img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Section Header, reused for all sections */
.section-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
    flex-direction: column;
    margin: 2rem 0 6px
}

.divider {
    height: 4px;
    border: none;
    background-color: #d9d8d8;
    border-radius: 2px;
    margin-top: 3rem;
    width: 48rem;
} /*End of section divider styling*/

.small-div {
    width: 80px; /* adjust width as needed */
    height: 4px;  /* adjust thickness as needed */
    margin: 0 auto 24px auto; /* center the divider and add spacing */
    background: linear-gradient(to right, #1e004b, #4a0a8f); /* adjust colors */
    border-radius: 2px; /* optional, for rounded edges */
}

/*
.section-title::before, 
.section-title::after{
    content: "";
    flex: 0.5;
    height: 1px;
    background: #60A5FA;
}

.section-title::before{
    margin-right: 1em;
}

.section-title::after{
    margin-left: 1em;
}
*/


/* About Section */

.two-col-grid{
    display: grid;
    grid-template-columns: 2.75fr 1.25fr;
    gap: 1rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 900px;
}

.box{
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.9;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box p{
    font-size: 1rem;
    color:rgb(0, 0, 37);
}

.box1{
    background: linear-gradient(#74a1d4, #3e5aa8);
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 150px;
    width: 53.5rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
} 
/*End of about section styling*/

/* Purpose Section */
.carousel-wrapper{
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.carousel-viewport{
    overflow: hidden;
    width: 58.5rem;
}

.carousel-container{
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide{
    flex: 0 0 18rem;
    height: 15rem;
    margin: 0 0.75rem;
    background-color: #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
.slide img{
    max-width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
}
.carousel-prev-button{
    background-color: rgb(215, 248, 255);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

.carousel-prev-button:hover{
    background-color: rgb(114, 194, 251);
}

.carousel-next-button{
    background-color: rgb(215, 248, 255);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

.carousel-next-button:hover{
    background-color: rgb(114, 194, 251);
}

.Scroll-Left-Icon{
    width: 10px;
    height: 18px;
    object-fit: contain;
    border-radius: 50%;
    background-color: transparent;
}

.Scroll-Right-Icon{
    width: 10px;
    height: 18px;
    object-fit: contain;
    border-radius: 50%;
    background-color: transparent;
}

.section-blurb{
   text-align: center;
}  /*End of about section styling*/

/*Experience Section */
.ex-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
}

.ex-card{
    display: flex;
    margin: auto;
    align-items: flex-start;
    width: 53.5rem;
    border: 1px solid #ddd;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ex-card:hover{
    box-shadow: 0 8px 8px rgba(0, 55, 254, 0.5);
}

.ex-card img{
    display: flex;
    object-fit: cover;
    border-radius: 4px;
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.ex-card h3{
    font-size: 18px;
    margin-left: 10px 0;
    margin-bottom: 0;
}

.ex-card p1{
    color: gray;
    font-size: 12px;
}

.ex-card p{
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}  /*End of experience section styling*/

/*Purpose Section */
.projects-grid{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: auto;
    max-width: 900px;
}

.projects-box{
    background: white;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 150px;
    width: 24rem;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin: auto;
    border-radius: 8px;
}

/*Blog Section*/

.blog-section {
  padding: 40px;
  text-align: center;
  font-family: Sans-serif;
  
}

.blog-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Blog Container */
.blog-container {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.blog-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    height: 22rem;
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-card h3 {
    font-size: 1.25rem;
    margin-left: 1rem;
    color: black;
    margin-bottom: 0px;
}

.blog-card p {
    font-size: 0.9rem;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}  /*End of blog section styling*/

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form{
    width: 75%;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

.form-group{
    width: 100%;
}

.form-group input{
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: transparent;
}

.form-group textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: transparent;
    font-family: sans-serif;
    height: 100px;
    max-height: 200px;
}

.message input{
    height: 5rem;
}

#contact button{
    align-self: center;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 3rem;
    border-color: transparent;
    font-family: sans-serif;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

#contact p{
    margin-top: 0;
}

#contact button:hover{
    background-color: rgb(1, 156, 223);
    color: white;
} /* End of Contact Form Styling */

/* Animation*/
/* Sets elements further down*/
.float-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

/* When in view, moves to normal position */
.float-up.in-view {
    opacity: 1;
    transform: translateY(0);
}