
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0a0f2c, #142850, #27496d, #3b8beb);
} 

body{
    display: flex;
    justify-content: center;
    padding-top: env(safe-area-inset-top);
    margin: 0;
    min-height: 100vh;
    overflow-y: none;
    align-items: flex-start;
    font-family:'Inter', sans-serif;
    background: transparent;
}

h1 {
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(#48bef9, #0c3178);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Main Container */
/* Holds sidebar and content box */
.main-container {
    display: flex;
    max-height: 100vh;
    padding: 60px 74px;
    box-sizing: border-box;
    overflow: auto;
}

.panels{
    display: flex;                
    border-radius: 18px;           
    overflow: hidden;    
    box-shadow:
    0   -6px  8px rgba(0, 128, 255, 0.8),
    /* bottom */
    0    6px  8px rgba(0, 128, 255, 0.8),
    /* left */
   -6px  0    8px rgba(0, 128, 255, 0.8),
    /* right */
    6px  0    8px rgba(0, 128, 255, 0.8);
}

/* Sidebar */
.sidebar {
    flex-direction: column;
    display: flex;
    width: 269px;
    border: 1px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 20px; 
    background: linear-gradient(to bottom, #e0f2fe, #dbeafe);
    border-right: 0.2px solid #ccc;
}


.no-underline-link {
    text-decoration: none;
}

.profile a h3{
    font-size: 24px;
    background: -webkit-linear-gradient(#48bef9, #0c3178);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 6px;
}

.profile h3:hover{
    color:#4192f5;
}

.profile p{
    font-size: 12px;
    color: #475569;
    text-align: center;
    margin-top: 0px;
}

.profile p:hover{
    color: lightblue;
}
.profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    display: block;
    padding: 14px 0;
    color: #1e293b;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px 0;
    transition: background 0.3s;
    font-style: normal;
    text-align: center;
}
nav a:hover,
nav a.active {
    background-color: #c3e6fe;
    color: #3b82f6;
    font-style: normal;
} 

.socials {
    display: flex;
    margin-top: auto;    
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 0.0rem;
    margin-bottom: 0px;
}
  
.socials img {
    width: 20px;
    height: 20px;
} /*End of sidebar content styling*/

/*Mobile styling*/
@media (max-width: 768px){
    html, body{
        background: none !important;
    }
    .main-container{
        padding: 0;
        overflow: hidden;
        margin: 0;
        width: 100vw;
        height: 100vh;
        max-height: none;
        border-radius: 0 !important;
    }
    .panels{
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }
    .content-box{
        width: 100%;
        min-height: 100%;
        border-radius: 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        -webkit-overflow-scrolling: touch;
    }
}
/*Hamburger Mobile View Styling*/
.menu-toggle{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    z-index: 999;
    cursor: pointer;
    border-radius: 5px;
}

.hamburger{
    display: none;
}

@media (max-width: 768px){
    .sidebar{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 95%;
        z-index: 998;
        width: 269px;
        flex-direction: column;
        background: linear-gradient(to bottom, #a4dbff, #d7efff);
        padding: 20px;
        overflow-y: auto;
        border-radius: 0px;        
    }

    .menu-toggle{
        display: block;
        background-color: transparent;
    }

    .menu-toggle:hover{
        background-color: rgb(142, 203, 254);
    }
}/*End of Hamburger Mobile View Styling*/

/* Main Content Box */
.content-box{
    width: 1100px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: linear-gradient(to bottom, #F0F9FF, #9ed8fe);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 600px;
}

/* Hero Icon */
.hero img{
    width: 50%;
    min-width: 350px;   
    max-width: 600px;   
    height: auto;
    object-fit: cover;
    border-radius: 18px;
    margin: 50px auto 20px;
    display: block;
}

/* Section Header, reused for all sections */
.section-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
    flex-direction: column;
    margin: 2rem 0 6px
}

.divider {
    height: 4px;
    border: none;
    background-color: #d9d8d8;
    border-radius: 2px;
    margin-top: 3rem;
    width: 48rem;
} /*End of section divider styling*/

.small-div {
    width: 80px; 
    height: 4px;  
    margin: 0 auto 24px auto; 
    background: linear-gradient(to right, #1e004b, #4a0a8f);
    border-radius: 2px; 
}
/* About Section */

.two-col-grid{
    display: grid;
    grid-template-columns: 2.75fr 1.25fr;
    gap: 1rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 900px;
}

.box{
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.9;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box p{
    font-size: 1rem;
    color:rgb(0, 0, 37);
}

.box:hover{
    box-shadow: 0 8px 8px rgba(0, 128, 255, 0.8);
}

.box1{
    background: linear-gradient(#74a1d4, #3e5aa8);
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 150px;
    width: 53.5rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
} 

.box1:hover{
    box-shadow: 0 12px 12px rgba(0, 128, 255, 0.8);
}

@media (max-width: 875px){
    .two-col-grid{
        grid-template-columns: 1fr;
    }
}
/*End of about section styling*/

/* Purpose Section */
.carousel-wrapper{
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.carousel-viewport{
    overflow: hidden;
    width: 90%;
}

.carousel-container{
    display: flex;
    /*transition: transform 0.3s ease-in-out;*/
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

carousel-container::-webkit-scrollbar{
    display: none;
}

.slide{
    scroll-snap-align: start;
    flex: 0 0 80%;
    max-width: 300px;
    margin: 0 0.5rem;
    height: 15rem;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    /*
    flex: 0 0 18rem;
    margin: 0 0.75rem;

    */
}

@media (min-width: 768px){
    .slide{
        flex: 0 0 30%;
    }
}
.slide img{
    max-width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
}

.carousel-prev-button{
    background-color: rgb(215, 248, 255);
    width: 5vh;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

.carousel-prev-button:hover{
    background-color: rgb(114, 194, 251);
}

.carousel-next-button{
    background-color: rgb(215, 248, 255);
    width: 5vh;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

.carousel-next-button:hover{
    background-color: rgb(114, 194, 251);
}

.Scroll-Left-Icon{
    width: 10px;
    height: 18px;
    object-fit: contain;
    border-radius: 50%;
    background-color: transparent;
}

.Scroll-Right-Icon{
    width: 10px;
    height: 18px;
    object-fit: contain;
    border-radius: 50%;
    background-color: transparent;
}

.section-blurb{
   text-align: center;
}  /*End of about section styling*/

/*Experience Section */
.ex-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
}

.ex-card{
    display: flex;
    margin: auto;
    align-items: flex-start;
    width: 53.5rem;
    border: 1px solid #ddd;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ex-card.float-up.in-view:hover{
    box-shadow: 0 8px 8px rgba(0, 128, 255, 0.8);
    transform: translateY(-10px);

}

.ex-card img{
    display: flex;
    object-fit: cover;
    border-radius: 4px;
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.ex-card h3{
    font-size: 18px;
    margin-left: 10px 0;
    margin-bottom: 0;
}

.ex-card p1{
    color: gray;
    font-size: 12px;
}

.ex-card p{
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}  

@media (max-width: 600px){
     .ex-card {
        width: 90%; 
        padding: 12px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .ex-card h3 {
        font-size: 16px; 
    }

    .ex-card p {
        font-size: 12px; 
    }

    .ex-card img {
        height: 4rem; 
        width: 4rem; 
    }
}


/*Projects Section */
.projects-container{
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.flip-card{
    touch-action: pan-y;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    perspective: 1000px;
    cursor: pointer;

    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.flip-card-inner{
    background-color: white;
    aspect-ratio: 28/13;
    width: 100%;
    max-width: 28rem;

    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;

    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}


.flip-card.is-flipped .flip-card-inner{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    border-radius: 12px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.flip-card-front{
    color: black;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.flip-card-back{
    background-color: black;
    color: #fff;
    transform: rotateY(180deg);
    flex-direction: column;
}


@media (hover: hover) and (pointer: fine){
    .flip-card:hover .flip-card-inner{
        transform: rotateY(180deg);
    }
}

@media (max-width: 1200px){
    .projects-container{
        grid-template-columns: 1fr;
    }

    .flip-card-inner{
        max-width: none;
    }

}/*End of Projects Mobile View Styling*/


/*Blog Section*/

.blog-section {
  padding: 40px;
  text-align: center;
  font-family: Sans-serif;
  
}

.blog-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Blog Container */
.blog-container {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.blog-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    width: 17.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    height: 22rem;
}

.blog-card:hover{
    box-shadow: 0 8px 8px rgba(0, 128, 255, 0.8);

}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-card h3 {
    font-size: 1.25rem;
    margin-left: 1rem;
    color: black;
    margin-bottom: 0px;
}

.blog-card p {
    font-size: 0.9rem;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}  /*End of blog section styling*/

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icon{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    margin-right: 0.3em;
}

.iconG{
    height: 1em;
    width: 1.5em;
    vertical-align: middle;
    margin-right: 0.3em;
}

.icon-back{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    color: black;
}

.icon-back:hover{
    background: rgb(147, 225, 251);
}

.icon-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}


#contact form{
    width: 75%;
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

.form-group{
    width: 100%;
}

.form-group input{
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: transparent;
}

.form-group textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: transparent;
    font-family: sans-serif;
    height: 100px;
    max-height: 200px;
}

.message input{
    height: 5rem;
}

#contact button{
    align-self: center;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 3rem;
    border-color: transparent;
    font-family: sans-serif;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
}

#contact p{
    margin-top: 0;
}

#contact button:hover{
    background-color: rgb(1, 156, 223);
    color: white;
} /* End of Contact Form Styling */

/* Animation*/
/* Sets elements further down*/
.float-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* When in view, moves to normal position */
.float-up.in-view {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-element {
    animation: fadeIn 2s ease;
    -webkit-animation: fadeIn 2s ease;
    display: flex;
    flex-direction: column;
    flex: 1;
}
