
body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #DBEAFE 0%, #CDE3FE 33%, #BBD9FD 66%, #60A5FA 100%);
} 

/* Main Container */
/* Holds sidebar and content box */
.main-container {
    display: flex;
    height: 790px;
    padding: 60px 74px 59px 73px;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    flex-direction: column;
    display: flex;
    width: 269px;
    top: 58px;
    left: 73px;
    border: 1px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 20px; 
    background: linear-gradient(to bottom, #e0f2fe, #dbeafe);
    border-right: 1px solid #ccc;

    
}

.profile h3{
    font-size: 24px;
    color: #1e293b;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 6px;
}

.profile p{
    font-size: 12px;
    color: #475569;
    text-align: center;
    margin-top: 0px;
}

.profile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav a {
    display: block;
    padding: 14px 0;
    color: #1e293b;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px 0;
    transition: background 0.3s;
    font-style: normal;
    text-align: center;
}
nav a:hover,
nav a.active {
    background-color: #e0f2fe;
    color: #3b82f6;
    font-style: normal;
} 

.socials {
    display: flex;
    margin-top: auto;    
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 0.0rem;
}
  
.socials img {
    width: 20px;
    height: 20px;
} /*End of sidebar content styling*/

/* Main Content Box */
.content-box{
    width: 1100px;
    top: 58px;
    left:342px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background: linear-gradient(to bottom, #F0F9FF, #9ed8fe);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

/* hero icon */
.hero img{
    width: 65%;
    height: 65%;
    object-fit: cover;
    border-radius: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Section Header, reused for all sections */
.section-title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
}

.rounded {
  height: 4px;
  border: none;
  background-color: #c7c7c7;
  border-radius: 2px;

  margin-top: 3rem;
  width: 48rem;
}

/*
.section-title::before, 
.section-title::after{
    content: "";
    flex: 0.5;
    height: 1px;
    background: #60A5FA;
}

.section-title::before{
    margin-right: 1em;
}

.section-title::after{
    margin-left: 1em;
}
*/


/* About grid */

.two-col-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 900px;
}

.box{
    background: #CDE3FE;
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box h3{
    font-size: 0.75rem;
    color: #000000;
}

/* Commitment Section */
.section-blurb{
    text-align: center;
    color:#111;
}

.six-col-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.card.large{
    grid-column: span 2;
}

.card{
    background: #CDE3FE;
    border-radius: 0.5rem;
    min-height: 100px;
}