/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #eef4ff;
}

/* Main Container */
.container {
    display: flex;
    padding: 58px 74px 59px 73px;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    width: 250px;
    padding: 20px; /* Increased padding */
    background: linear -gradient(to bottom, #e0f2fe, #dbeafe);
    border-right: 1px solid #ccc;
}
